/* src/News.css */
.news-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    background: #f8f9fa; /* Light grey background */
  }
  
  .animated-background {
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, #ffc107 25%, #dc3545 25%, #dc3545 50%, #ffc107 50%, #ffc107 75%, #dc3545 75%, #dc3545);
    background-size: 50% 50%;
    animation: moveBackground 10s linear infinite;
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  .loaded .animated-background {
    opacity: 1;
  }
  
  @keyframes moveBackground {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
  
  .news-content {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    animation: fadeInContent 1.5s ease-out 1s forwards;
    opacity: 0;
    transform: translateY(20px);
    max-width: 800px;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @keyframes fadeInContent {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .news-title {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #dc3545; /* McDonald's red */
  }
  
  .news-article {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(20px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    cursor: pointer;
  }
  
  /* .news-article:hover {
    background: #ffc107; 
  } */
  
  .show-content .news-article {
    transform: translateY(0);
    opacity: 1;
  }
  
  .news-article-detail {
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    animation: fadeInContent 1s ease-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .close-button:hover {
    background: #c82333;
  }
  
  .article-title {
    font-size: 2rem;
    color: #ffc107; /* McDonald's yellow */
  }
  
  .article-content {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #333;
  }
  
  .article-date {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #666;
  }
  
  .article-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  